<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teams</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Teams</h1>
    <div class="team-list">
        <ul>
            <li th:each="team : ${teams}" class="team-item">
                <img th:src="@{'/images/logos/' + ${team.name} + '_logo.png'}" alt="Logo" class="team-logo">
                <span class="team-name" th:text="${team.name}">Team Name</span>
            </li>
        </ul>
    </div>
    <a th:href="@{/}">Home</a>
</body>
</html>
